@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Rubik", sans-serif;
}

:root {
    --main-color: #fcb700;
    --dark-color: #222222;
    --paragraph-color: #666666;
    --dark-red: #d01418;
    --dark-green: #154418;
    --border-color: #6666662a;
    --name-item: #0066c0;
    --white-color: #ffffff;
    --color-1: #f5f6f9;

}

body {
    background-color: var(--color-1);
    margin-top: 180px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-color);
}

p {
    color: var(--paragraph-color)
}

.container {
    width: 1140px;
    margin: auto;
}

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white-color);
}

header .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

header .top-nav .search {
    width: 500px;
    border: 2px solid var(--main-color);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

header .top-nav .search input {
    padding: 18px 175px 18px 20px;
    outline: none;
    border: none;
    width: 100%;
}

header .top-nav .search button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    outline: none;
    border: none;
    background-color: var(--main-color);
    color: var(--dark-color);
    font-size: 18px;
    width: 175px;
    cursor: pointer;
}

header .top-nav .cart_header {
    display: flex;
    gap: 10px;
    align-items: center;
}

header .top-nav .cart_header .icon_cart {
    position: relative;
}

header .top-nav .cart_header i {
    font-size: 20px;
    color: var(--dark-color);
    border: 1px solid var(--border-color);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
}

header .top-nav .cart_header i:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}

header .top-nav .cart_header .count_item {
    position: absolute;
    background-color: var(--main-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    top: -5px;
    right: 0;
    color: var(--dark-color);
    border: 1px solid var(--border-color);
    transition: 0.3s ease;
}

header .top-nav .cart_header i:hover+.count_item {
    background-color: var(--white-color);
}

header .top-nav .cart_header .tottal_price p {
    margin-bottom: 8px;
}
header .top-nav .cart_header .tottal_price p span {
    color: var(--dark-green);
}
header nav {
    border-top: 1px solid var(--border-color)
}

header .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .links ul {
    display: flex;
    gap: 70px;
}

header .links ul li a {
    color: var(--dark-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;

}

header .links ul li {
    position: relative;
    padding: 20px 0;
}

header .links ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--main-color);
    transition: 0.3s ease-in;
}

header .links ul li.active::after,
header .links ul li:hover::after {
    width: 100%;
}

header .links .loging_signup a {
    color: var(--dark-color);
    padding: 10px 20px;
    background-color: var(--main-color);
    margin-left: 10px;
    border-radius: 5px;
}

/* cart */

.cart {
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    background-color: var(--white-color);
    z-index: 99;
    padding: 30px;
    border-left: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    transition: 0.3s ease;
}

.cart.active {
    right: 0;
}

.cart .top_cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart .top_cart .close_cart i {
    font-size: 35px;
    cursor: pointer;
}

.cart .top_cart .close_cart i:hover {
    color: var(--dark-red);
}

.cart .top_cart h3 {
    font-size: 18px;
}

.cart .top_cart h3 span {
    font-size: 14px;
    color: var(--paragraph-color);
    font-weight: 400;
}

.cart .top_cart h3>span>span {
    color: var(--main-color);
}

.cart .items_in_cart {
    padding: 20px 0;
    border-block: 1px solid var(--border-color);
    margin-block: 20px;
    height: 100%
}

.cart .item_cart {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.cart .item_cart:last-child {
    margin-bottom: 0;
}

.cart .item_cart img {
    width: 100px;
}

.cart .item_cart h4 {
    margin: 10px;
    font-weight: 500;
}

.cart .item_cart .delete_item {
    outline: none;
    border: none;
}

.cart .item_cart .delete_item i {
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s ease;
}

.cart .item_cart .delete_item i:hover {
    color: var(--dark-red);
    transform: scale(1.2);
}

.cart .bottom_cart .total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cart .bottom_cart .total .price_cart_total {
    color: var(--main-color);
}

.cart .button_cart {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart .button_cart .btn_cart {
    border: 2px solid var(--main-color);
    border-radius: 5px;
    color: var(--dark-color);
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--main-color);
    transition: 0.3s ease;
}

.cart .button_cart .btn_cart:hover {
    background-color: transparent;
}

.cart .button_cart .trans_bg {
    background-color: transparent;
}

.cart .button_cart .trans_bg:hover {
    background-color: var(--main-color);
}